.edit-password-main-box {
  width: 100%;
  height: 100vh;
  padding: 0 12%;
  position: relative;

  .pattern2 {
    width: 50vw;
    height: 50vw;
    position: absolute;
    left: -15%;
    bottom: -40%;

    img {
      width: 100%;
      position: absolute;

      &:nth-child(1) {
        z-index: 5;
      }

      &:nth-child(2) {
        left: 7vw;
        top: 7vw;
        width: 72%;
        z-index: 4;
      }

      &:nth-child(3) {
        left: 9.4vw;
        top: 9.4vw;
        width: 63.1%;
        z-index: 8;
        animation: pattern3 50s linear infinite;
      }

      &:nth-child(4) {
        left: 15vw;
        top: 15vw;
        width: 40%;
        z-index: 7;
        animation: pattern4 50s linear infinite;
      }

      &:nth-child(5) {
        left: 19vw;
        top: 19.1vw;
        width: 24%;
        z-index: 6;
        animation: pattern5 30s linear infinite;
      }
    }

    @keyframes pattern5 {
      0% {
        transform: rotate(1turn);
      }
    }
    @keyframes pattern4 {
      0% {
        transform: rotate(-1turn);
      }
    }
    @keyframes pattern3 {
      0% {
        transform: rotate(1turn);
      }
    }
  }

  .forSteps {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    .circleForBrand {
      width: 75px;
      height: 75px;
      background-color: #357ECE;
      padding: 8px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .step-for-information {
      width: 30%;
      height: 10px;
      background-color: #EDEDED;
      display: flex;
      justify-content: end;
      align-items: center;
      transition: 0.6s;

      .ball-information {
        width: 30px;
        height: 30px;
        background-color: #BFBFBF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.6s;
        margin-right: -2px;
        z-index: 10;

        .ball2-information {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #F6F8FA;
          position: relative;

          .titleForSteps {
            position: absolute;
            align-items: center;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #949494;
            top: 35px;
            left: -24px;

          }
          .done{
            margin-left: 14px;
          }
        }
      }
    }

    .step-for-informationActive {
      width: 30%;
      height: 10px;
      background-color: #357ECE;
      display: flex;
      justify-content: end;
      align-items: center;
      transition: 0.6s;

      .ball-informationActive {
        width: 30px;
        height: 30px;
        background-color: #357ECE;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.6s;
        margin-right: -2px;
        z-index: 10;

        .ball2-information {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #F6F8FA;
          position: relative;

          .titleForStepsActive {
            width: 100px;
            position: absolute;
            align-items: center;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: black;
            top: 35px;
            left: -38px;
          }

          .titleForSteps {
            width: 100px;
            position: absolute;
            align-items: center;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #949494;
            top: 35px;
            left: -38px;
          }

        }
      }
    }


  }

  .edit-password-main-box-two {
    width: 100%;
    height: 80%;
    display: flex;


    .left-box {
      width: 50%;
      height: 100%;
      z-index: 100;
    }

    .right-box {
      width: 50%;
      height: 100%;
      padding-left: 7%;
      padding-top: 3%;
      img {
        width: 80%;
      }
    }
  }
  .edit-password-page {
    margin-top: 20px;
    width: 90%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 30px;
    .boxForButtons {
      margin-top: 20px;
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: end;
      align-items: center;

      .backButton {
        width: 88px;
        height: 40px;
        margin-right: 15px;
        background-color: #EDEDED;
        border-radius: 10px;
        color: black;
        font-weight: 500;
        font-size: 14px;
        border: none;
        &:hover{
          background-color: #d3d3d3;
        }
      }

      .nextButton {
        width: 88px;
        height: 40px;
        font-weight: 500;
        font-size: 14px;
        border: none;
        border-radius: 10px;
      }
      .box-forgot-password{
        width: 75%;
        .text-forgot-password{
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #357ECE;
          cursor: pointer;
        }

      }

    }
    .box-or-contacts{
      margin-top: 20px;
      width: 100%;

      .text-or-with{
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #949494;
      }
      .box-for-contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px auto ;
        img{
          cursor: pointer;
          margin-right: 22px;
        }
      }
    }

    //Edit Profile
    .for-x{
      width: 100%;
      display: flex;
      justify-content: end;
      img{
        cursor: pointer;
      }

    }
    .textWelcome{
      margin-top: 10px;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: black;
    }
    .textMain{
      margin-top: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #949494;
      display: flex;
      p{
        cursor: pointer;
        color: #357ECE;
        margin-left: 10px;
      }
    }
    .boxForInput{
      width: 100%;
      input{
        height: 45px;
        margin-top: 16px;
        border: 1px solid #EDEDED;
        box-sizing: border-box;
        border-radius: 6px;
      }
    }



    //YourCompany
    .inputBoxCompany{
      width: 100%;
      input{
        height: 45px;
        margin-top: 30px;
        border: 1px solid #EDEDED;
        box-sizing: border-box;
        border-radius: 6px;
      }
    }
    .mainBoxForCompany{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .textCompany{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }
      .text-edit-profile{
        margin-top: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #949494;
      }

    }


    //Success
    .successPhoto{
      width: 122px;
      height: 122px;
      margin: 80px auto 20px auto;
      img{
        width: 100%;
      }
    }
    .textSuccess{
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 60px;
    }
    .boxForSuccessBtn{
      .successBtn{
        height: 50px;
        font-weight: 500;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        width: 100%;
        background-color: #00C908;
        color: white;
      }
    }
  }
}



@media (max-width: 768px){
  .edit-password-main-box {
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    overflow-y: hidden;
    overflow-x: hidden;

    .pattern2 {
      width: 50vw;
      height: 50vw;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 3%;
      bottom: 3%;
      transition: .7s linear;

      img {
        width: 100%;
        position: absolute;

        &:nth-child(1) {
          z-index: 5;
        }

        &:nth-child(2) {
          width: 72%;
          z-index: 4;
        }

        &:nth-child(3) {
          width: 63.1%;
          z-index: 8;
          animation: pattern3 50s linear infinite;
        }

        &:nth-child(4) {
          width: 40%;
          z-index: 7;
          animation: pattern4 50s linear infinite;
        }

        &:nth-child(5) {
          width: 24%;
          z-index: 6;
          animation: pattern5 30s linear infinite;
        }
      }

      @keyframes pattern5 {
        0% {
          transform: rotate(1turn);
        }
      }
      @keyframes pattern4 {
        0% {
          transform: rotate(-1turn);
        }
      }
      @keyframes pattern3 {
        0% {
          transform: rotate(1turn);
        }
      }
    }
    .forSteps {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .circleForBrand {
        width: 75px;
        height: 75px;
        background-color: #357ECE;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
        }
      }

      .step-for-information {
        width: 28%;
        height: 10px;
        background-color: #EDEDED;
        display: flex;
        justify-content: end;
        align-items: center;
        transition: 0.6s;

        .ball-information {
          width: 30px;
          height: 30px;
          background-color: #BFBFBF;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.6s;
          margin-right: -2px;
          z-index: 10;

          .ball2-information {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #F6F8FA;
            position: relative;

            .titleForSteps {
              position: absolute;
              align-items: center;
              text-align: center;
              font-weight: 500;
              font-size: 16px;
              line-height: 130%;
              color: #949494;
              top: 35px;
              left: -24px;

            }
            .done{
              margin-left: 14px;
            }
          }
        }
      }

      .step-for-informationActive {
        width: 28%;
        height: 10px;
        background-color: #357ECE;
        display: flex;
        justify-content: end;
        align-items: center;
        transition: 0.6s;

        .ball-informationActive {
          width: 30px;
          height: 30px;
          background-color: #357ECE;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.6s;
          margin-right: -2px;
          z-index: 10;

          .ball2-information {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #F6F8FA;
            position: relative;

            .titleForStepsActive {
              width: 100px;
              position: absolute;
              align-items: center;
              text-align: center;
              font-weight: 500;
              font-size: 16px;
              line-height: 130%;
              color: black;
              top: 35px;
              left: -38px;
            }

            .titleForSteps {
              width: 100px;
              position: absolute;
              align-items: center;
              text-align: center;
              font-weight: 500;
              font-size: 16px;
              line-height: 130%;
              color: #949494;
              top: 35px;
              left: -38px;
            }

          }
        }
      }


    }

    .edit-password-main-box-two {
      width: 100%;
      height: 80%;
      display: block;


      .left-box {
        width: 100%;
        height: auto;
      }

      .right-box {
        width: 100%;
        height: auto;
        padding-left: 7%;
        padding-top: 3%;
        margin-top: 40px;
        justify-content: end;
        display: flex;
        img {
          width: 50%;
        }
      }
    }
    .edit-password-page {
      margin-top: 20px;
      width: 100%;
      height: auto;
      background: #FFFFFF;
      box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 30px;
      .boxForButtons {
        margin-top: 20px;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: end;
        align-items: center;

        .backButton {
          width: 88px;
          height: 40px;
          margin-right: 15px;
          background-color: #EDEDED;
          border-radius: 10px;
          color: black;
          font-weight: 500;
          font-size: 14px;
          border: none;
          &:hover{
            background-color: #d3d3d3;
          }
        }

        .nextButton {
          width: 88px;
          height: 40px;
          font-weight: 500;
          font-size: 14px;
          border: none;
          border-radius: 10px;
        }
        .box-forgot-password{
          width: 75%;
          .text-forgot-password{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #357ECE;
            cursor: pointer;
          }

        }

      }
      .box-or-contacts{
        margin-top: 20px;
        width: 100%;

        .text-or-with{
          text-align: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #949494;
        }
        .box-for-contacts{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 25px auto ;
          img{
            cursor: pointer;
            margin-right: 22px;
          }
        }
      }

      //Edit Profile
      .for-x{
        width: 100%;
        display: flex;
        justify-content: end;
        img{
          cursor: pointer;
        }

      }
      .textWelcome{
        margin-top: 10px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: black;
      }
      .textMain{
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #949494;
        display: flex;
        p{
          cursor: pointer;
          color: #357ECE;
          margin-left: 10px;
        }
      }
      .boxForInput{
        width: 100%;
        input{
          height: 45px;
          margin-top: 16px;
          border: 1px solid #EDEDED;
          box-sizing: border-box;
          border-radius: 6px;
        }
      }



      //YourCompany
      .inputBoxCompany{
        width: 100%;
        input{
          height: 45px;
          margin-top: 30px;
          border: 1px solid #EDEDED;
          box-sizing: border-box;
          border-radius: 6px;
        }
      }
      .mainBoxForCompany{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .textCompany{
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
        }
        .text-edit-profile{
          margin-top: 10px;
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          color: #949494;
        }

      }


      //Success
      .successPhoto{
        width: 122px;
        height: 122px;
        margin: 80px auto 20px auto;
        img{
          width: 100%;
        }
      }
      .textSuccess{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin-bottom: 60px;
      }
      .boxForSuccessBtn{
        .successBtn{
          height: 50px;
          font-weight: 500;
          font-size: 16px;
          border: none;
          border-radius: 10px;
          width: 100%;
          background-color: #00C908;
          color: white;
        }
      }
    }
  }

}
